// HEADER //
.header {
  padding-top: 8rem;
  display: flex;
  justify-content: center;
  margin-bottom: 8rem;
}

// HERO //
.hero {
  display: flex;
  gap: 8.8rem;
  height: 35.8rem;
  overflow: hidden;

  @media only screen and (max-width: $bp-tablet) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 7.2rem;
  }

  @media only screen and (max-width: $bp-mobile) {
    gap: 4rem;
  }
}

.hero-image-tablet {
  display: none;
  @media only screen and (max-width: $bp-tablet) {
    display: unset;
  }
}

.hero-image-tablet img {
  @media only screen and (max-width: $bp-mobile) {
    display: unset;
    width: 41.4rem;
    height: 15.3;
  }
}

.hero-image-left {
  margin-left: -3.2rem;
  top: 0;

  @media only screen and (max-width: $bp-tablet) {
    display: none;
  }
}

.hero-text-box {
  text-align: center;
  height: 100%;
  width: 54rem;
  position: relative;
  top: 4.7rem;
  margin-bottom: 5rem;

  &__heading-primary {
    margin-left: 4.7rem;
    margin-right: 4.8rem;
    margin-bottom: 3.4rem;
  }

  &__paragraph {
    margin-bottom: 3.2rem;
  }
}

.hero-image-right {
  margin-right: -3.2rem;
  position: relative;
  top: 4.7rem;

  @media only screen and (max-width: $bp-tablet) {
    display: none;
  }
}

// SECTION BREAK //
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 11rem;
}

.verticle-line {
  border-left: 1px solid rgba(135, 135, 157, 0.25);
  height: 8.4rem;
  position: relative;
  left: 50%;
}

.section-number {
  display: flex;
  justify-content: center;

  p {
    padding: 1.5rem 1.9rem;
    border: 1px solid rgba(135, 135, 157, 0.25);
    border-radius: 50%;
    background-color: var(--color-white);
  }
}

// CUSTOMERS //
.customers {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 3rem;
  padding-top: 6.4rem;

  @media only screen and (max-width: $bp-mobile) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.customer-photo {
  height: 24.2rem;
  width: 25.5rem;
  border-radius: 0.9rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);

  @media only screen and (max-width: $bp-tablet) {
    height: 15.6rem;
    width: 16.4rem;
  }
}

// MORE INFO //
.info-text-box {
  padding-top: 8rem;
  text-align: center;
  width: 54rem;
  margin: 0 auto;

  @media only screen and (max-width: $bp-mobile) {
    width: 32.7rem;
  }

  &__heading {
    padding: 0 4.7rem;

    @media only screen and (max-width: $bp-mobile) {
      padding: 0;
    }
  }
}

.overlay-helper {
  position: relative;
  top: 2.8rem;
  z-index: 999;
}

// CALL TO ACTION
.cta {
  background-image: linear-gradient(
      0deg,
      rgba(77, 151, 169, 0.9),
      rgba(77, 151, 169, 0.9)
    ),
    url("../assets/desktop/image-footer.jpg");
  background-size: cover;
  background-position: center;
  height: 30.8rem;

  @media only screen and (max-width: $bp-tablet) {
    background-image: linear-gradient(
        0deg,
        rgba(77, 151, 169, 0.9),
        rgba(77, 151, 169, 0.9)
      ),
      url("../assets/tablet/image-footer.jpg");
    height: 42.8rem;
  }

  @media only screen and (max-width: $bp-mobile) {
    background-image: linear-gradient(
        0deg,
        rgba(77, 151, 169, 0.9),
        rgba(77, 151, 169, 0.9)
      ),
      url("../assets/mobile/image-footer.jpg");
    height: 42.8rem;
  }
}

.cta-text-box {
  display: grid;
  grid-template-columns: 35rem 35rem 19.3rem;
  column-gap: 12.5rem;
  justify-items: center;
  align-items: center;
  width: 111rem;
  margin: 0 auto;
  padding-top: 11.6rem;
  padding-bottom: 10.4rem;

  @media only screen and (max-width: $bp-tablet) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 76.8rem;
    gap: 3.8rem;
    text-align: center;
    padding-top: 9.2rem;
  }

  @media only screen and (max-width: $bp-mobile) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 37.5rem;
    gap: 3.8rem;
    text-align: center;
    padding-top: 9.2rem;
  }

  &__heading {
    color: var(--color-white);
    margin-bottom: 0;

    @media only screen and (max-width: $bp-tablet) {
      padding-left: 15.5rem;
      padding-right: 15.5rem;
    }

    @media only screen and (max-width: $bp-mobile) {
      padding-left: 2.4rem;
      padding-right: 2.4rem;
    }
  }

  &__paragraph {
    color: var(--color-white);

    @media only screen and (max-width: $bp-tablet) {
      padding-left: 9.7rem;
      padding-right: 9.7rem;
    }

    @media only screen and (max-width: $bp-mobile) {
      padding-left: 2.4rem;
      padding-right: 2.4rem;
    }
  }
}
